@model ProyectoRestaurante.Models2.DetalleOrden

<h1 style="text-shadow: -1px 0px 6px #D4AF37;">Eliminar</h1>


<h3>¿Deseas proceder?</h3>
<div>
    <h4>DetalleOrden</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOrdenNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOrdenNavigation.IdOrden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPlatoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPlatoNavigation.IdPlato)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDetalleOrden" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark">Volver</a>
    </form>
</div>
