@model IEnumerable<ProyectoRestaurante.Models2.DetalleOrden>

<!DOCTYPE html>

<section class="tables">
    <h1 style="text-shadow: -1px 0px 6px #D4AF37;">Detalle Orden</h1>

    <p>
        <a asp-action="Create" class="btn btn-dark">Añadir</a>
    </p>

    <table class="table table-dark table-striped table-hover table-bordered border-light">
        <thead>
            <tr>
                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.PrecioUnitario)
                </th>
                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.IdOrdenNavigation)
                </th>
                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.IdPlatoNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class ="table-dark">
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td class="table-dark">
                        @Html.DisplayFor(modelItem => item.PrecioUnitario)
                    </td>
                    <td class="table-dark">
                        @Html.DisplayFor(modelItem => item.IdOrdenNavigation.IdOrden)
                    </td>
                    <td class="table-dark">
                        @Html.DisplayFor(modelItem => item.IdPlatoNavigation.IdPlato)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdDetalleOrden">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdDetalleOrden">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdDetalleOrden">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>