@model IEnumerable<ProyectoRestaurante.Models2.Recomendacion>

<!DOCTYPE html>


<section class="tables">
    <h1 style="text-shadow: -1px 0px 6px #D4AF37;">Recomendaciones</h1>

    <p>
        <a asp-action="Create" class="btn btn-dark">Añadir</a>
    </p>

    <table class="table table-dark table-striped table-hover table-bordered border-light">
        <thead>
            <tr>
                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.Comentario)
                </th>
                <th class="table-dark">
                    Cliente
                </th>
                <th class="table-dark">
                    Platillo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="table-dark">
                        @Html.DisplayFor(modelItem => item.Comentario)
                    </td>
                    <td class="table-dark">
                        @Html.DisplayFor(modelItem => item.IdNavigation.UserName)
                    </td>
                    <td class="table-dark">
                        @Html.DisplayFor(modelItem => item.IdPlatoNavigation.NombrePlato)
                    </td>
                         <td>
                    @{
                     if (User.Identity.Name == item.IdNavigation.UserName)
                {
                        
                        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.IdRecomendacion">Editar</a> 
                        <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.IdRecomendacion">Eliminar</a>
                       
                }
                    }
                     </td>   
                </tr>
            }
        </tbody>
    </table>
    <br>
    <br>
</section>