@model IEnumerable<ProyectoRestaurante.Models2.Recomendacion>

<!DOCTYPE html>


<section class="tables">
    <h1 style="text-shadow: -1px 0px 6px #D4AF37;">Ordenes</h1>

    <p>
        <a asp-action="Create" class="btn btn-dark">Añadir</a>
    </p>

    <table class="table table-dark table-striped table-hover table-bordered border-light">
        <thead>
            <tr>
                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.Comentario)
                </th>
                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.IdNavigation)
                </th>
                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.IdPlatoNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="table-dark">
                        @Html.DisplayFor(modelItem => item.Comentario)
                    </td>
                    <td class="table-dark">
                        @Html.DisplayFor(modelItem => item.IdNavigation.Id)
                    </td>
                    <td class="table-dark">
                        @Html.DisplayFor(modelItem => item.IdPlatoNavigation.IdPlato)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdRecomendacion">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdRecomendacion">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdRecomendacion">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>