@model IEnumerable<ProyectoRestaurante.Models2.Reservacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservaciones</h1>

<table class="table table-dark table-striped table-hover table-bordered border-light">
    <thead>
        <tr>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.FechaReserva)
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.HoraReserva)
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.CantidadPersonas)
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.IdMesaNavigation)
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.IdNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="table-dark">
                @Html.DisplayFor(modelItem => item.FechaReserva)
            </td>
            <td class="table-dark">
                @Html.DisplayFor(modelItem => item.HoraReserva)
            </td>
            <td class="table-dark">
                @Html.DisplayFor(modelItem => item.CantidadPersonas)
            </td>
            <td class="table-dark">
                @Html.DisplayFor(modelItem => item.IdMesaNavigation.IdMesa)
            </td>
            <td class="table-dark">
                @Html.DisplayFor(modelItem => item.IdNavigation.UserName)
            </td>
            <td>
                    <a class="btn btn-dark"  asp-action="Edit" asp-route-id="@item.IdReservacion">Editar</a> |
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.IdReservacion">Ver mas</a> |
                    <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.IdReservacion">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
