@model ProyectoRestaurante.Models2.Factura

<h1 style="text-shadow: -1px 0px 6px #D4AF37;">Eliminar</h1>

@{
    var fecha = Model.FechaFactura.ToShortDateString();
}


<h3>¿Deseas proceder?</h3>
<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => @fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDordenNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDordenNavigation.IdDetalleOrden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdFactura" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark">Volver</a>
    </form>
</div>
