@model IEnumerable<ProyectoRestaurante.Models2.Factura>


<!DOCTYPE html>

<section class="tables">
    <h1 style="text-shadow: -1px 0px 6px #D4AF37;">Facturas</h1>

    <p>
        <a asp-action="Create" class="btn btn-dark">Añadir</a>
    </p>
        <form method="get" asp-action="Index">
    <div class="buscadores input-group" style="text-size-adjust">
            <input type="search" placeholder="Buscador" value="@ViewData["GetFacturassdetails"]" name="search"
               style="width: 500px" class="input form-control" />
        <div class="input-group-append">
            <input type="submit" value="Buscar" class="btn btn-dark" />
        </div>
    </div>
</form>

<br>
    <table class="table table-dark table-striped table-hover table-bordered border-light">
        <thead>
            <tr>
                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.FechaFactura)
                </th>
                <th class="table-dark">
                    @Html.DisplayNameFor(model => model.HoraFactura)
                </th>
                <th class="table-dark">
                    # de orden
                </th>
                <th class="table-dark">
                    Atendido por
                </th>
                <th class="table-dark">
                    Total de la orden
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var fecha = item.FechaFactura.ToShortDateString();
                <tr>
                    <td class="table-dark">
                        @Html.DisplayFor(modelItem => fecha)
                    </td>
                    <td class="table-dark">
                        @Html.DisplayFor(modelItem => item.HoraFactura)
                    </td>
                    <td class="table-dark">
                        @Html.DisplayFor(modelItem => item.IdDorden)
                    </td>
                    <td class="table-dark">
                        @Html.DisplayFor(modelItem => item.IdNavigation.UserName)
                    </td>
                    <td class="table-dark">
                        @Html.DisplayFor(modelItem => item.Costototal)
                    </td>
                    <td>
                        <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.IdFactura">Ver mas</a> |
                        <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.IdFactura">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br>
    <br>
</section>


